<h1 style='color: blue; font-size: 34px; font-weight: bold;'> Projeto Proposto 
</h1>

<p style='font-size: 18px; line-height: 2; margin: 0px 0px; text-align: justify; text-indent: 0px;'>    
<i> Este projeto baseia-se na aplicação de Técnicas de PySpark em uma Análise Exploratória nos dados de Futebol na Europa. </i>       
</p>

In [1]:
#!jt -t chesterish

# <font color='red' style='font-size: 40px;'> Library  </font>

In [2]:
## Bibliotecas De Manipulação de Dados e Visualização
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
from pyspark.sql import SparkSession, Row 
from pyspark.sql.functions import *
import pyspark.sql.functions as F

## Bibliotecas de Modelagem Matemática e Estatística
import numpy as np
import scipy as sp 
import statsmodels.api as sm
import statsmodels.formula.api as smf

# Bibliotecas de Manipulação de Tempo
from datetime import datetime, date


# Parâmetros de Otimização
import warnings
%matplotlib inline
sns.set()
plt.rcParams['font.family'] = 'Arial'
plt.rcParams['font.size'] = '14'
plt.rcParams['figure.figsize'] = [10, 5]
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)
pd.set_option('display.float_format', lambda x: '%.2f' % x) # Tira os números do formato de Notação Científica
np.set_printoptions(suppress=True) # Tira os números do formato de Notação Científica em Numpy Arrays
warnings.filterwarnings('ignore')
warnings.simplefilter(action='ignore', category=FutureWarning) # Retira Future Warnings

# <font color='red' style='font-size: 40px;'> Schema </font>

<img src='./schema_olist.png' width='70%'>

# <font color='red' style='font-size: 40px;'> Entendimento da Base de Dados </font>

In [3]:
spark = SparkSession.builder.appName('Olist').getOrCreate()

## 1) People Info - Customers, Sellers and Geolocation

In [4]:
df_customers = spark.read.option('header', 'True').csv('../10_analise_exploratoria_ecommerce_olist/data/olist_customers_dataset.csv')
df_customers.show()

+--------------------+--------------------+------------------------+--------------------+--------------+
|         customer_id|  customer_unique_id|customer_zip_code_prefix|       customer_city|customer_state|
+--------------------+--------------------+------------------------+--------------------+--------------+
|06b8999e2fba1a1fb...|861eff4711a542e4b...|                   14409|              franca|            SP|
|18955e83d337fd6b2...|290c77bc529b7ac93...|                   09790|sao bernardo do c...|            SP|
|4e7b3e00288586ebd...|060e732b5b29e8181...|                   01151|           sao paulo|            SP|
|b2b6027bc5c5109e5...|259dac757896d24d7...|                   08775|     mogi das cruzes|            SP|
|4f2d8ab171c80ec83...|345ecd01c38d18a90...|                   13056|            campinas|            SP|
|879864dab9bc30475...|4c93744516667ad3b...|                   89254|      jaragua do sul|            SC|
|fd826e7cf63160e53...|addec96d2e059c80c...|                   04534|           sao paulo|            SP|
|5e274e7a0c3809e14...|57b2a98a409812fe9...|                   35182|             timoteo|            MG|
|5adf08e34b2e99398...|1175e95fb47ddff9d...|                   81560|            curitiba|            PR|
|4b7139f34592b3a31...|9afe194fb833f79e3...|                   30575|      belo horizonte|            MG|
|9fb35e4ed6f0a14a4...|2a7745e1ed516b289...|                   39400|       montes claros|            MG|
|5aa9e4fdd4dfd2095...|2a46fb94aef5cbeeb...|                   20231|      rio de janeiro|            RJ|
|b2d1536598b73a9ab...|918dc87cd72cd9f6e...|                   18682|    lencois paulista|            SP|
|eabebad39a88bb6f5...|295c05e81917928d7...|                   05704|           sao paulo|            SP|
|1f1c7bf1c9b041b29...|3151a81801c838636...|                   95110|       caxias do sul|            RS|
|206f3129c0e4d7d0b...|21f748a16f4e1688a...|                   13412|          piracicaba|            SP|
|a7c125a0a07b75146...|5c2991dbd08bbf3cf...|                   22750|      rio de janeiro|            RJ|
|c5c61596a3b6bd0ce...|b6e99561fe6f34a55...|                   07124|           guarulhos|            SP|
|9b8ce803689b3562d...|7f3a72e8f988c6e73...|                   05416|           sao paulo|            SP|
|49d0ea0986edde72d...|3e6fd6b2f0d499456...|                   68485|              pacaja|            PA|
+--------------------+--------------------+------------------------+--------------------+--------------+
only showing top 20 rows

In [5]:
df_sellers = spark.read.option('header', 'True').csv('../10_analise_exploratoria_ecommerce_olist/data/olist_sellers_dataset.csv')
df_sellers.show()

+--------------------+----------------------+-----------------+------------+
|           seller_id|seller_zip_code_prefix|      seller_city|seller_state|
+--------------------+----------------------+-----------------+------------+
|3442f8959a84dea7e...|                 13023|         campinas|          SP|
|d1b65fc7debc3361e...|                 13844|       mogi guacu|          SP|
|ce3ad9de960102d06...|                 20031|   rio de janeiro|          RJ|
|c0f3eea2e14555b6f...|                 04195|        sao paulo|          SP|
|51a04a8a6bdcb23de...|                 12914|braganca paulista|          SP|
|c240c4061717ac180...|                 20920|   rio de janeiro|          RJ|
|e49c26c3edfa46d22...|                 55325|           brejao|          PE|
|1b938a7ec6ac5061a...|                 16304|        penapolis|          SP|
|768a86e36ad6aae3d...|                 01529|        sao paulo|          SP|
|ccc4bbb5f32a6ab2b...|                 80310|         curitiba|          PR|
|8cb7c5ddf41f4d506...|                 75110|         anapolis|          GO|
|a7a9b880c49781da6...|                 13530|        itirapina|          SP|
|8bd0f31cf0a614c65...|                 01222|        sao paulo|          SP|
|05a48cc8859962767...|                 05372|        sao paulo|          SP|
|7b8e8ec35bad4b0ef...|                 88705|          tubarao|          SC|
|1444c08e64d55fb3c...|                 42738| lauro de freitas|          BA|
|166e8f1381e096519...|                 88780|         imbituba|          SC|
|e38db885400cd35c7...|                 70740|         brasilia|          DF|
|d2e753bb80b7d4faa...|                 45810|     porto seguro|          BA|
|f9ec7093df3a7b346...|                 05138|        sao paulo|          SP|
+--------------------+----------------------+-----------------+------------+
only showing top 20 rows

In [6]:
df_geolocation = spark.read.option('header', 'True').csv('../10_analise_exploratoria_ecommerce_olist/data/olist_geolocation_dataset.csv')
df_geolocation.show()

+---------------------------+-------------------+-------------------+----------------+-----------------+
|geolocation_zip_code_prefix|    geolocation_lat|    geolocation_lng|geolocation_city|geolocation_state|
+---------------------------+-------------------+-------------------+----------------+-----------------+
|                      01037| -23.54562128115268| -46.63929204800168|       sao paulo|               SP|
|                      01046|-23.546081127035535| -46.64482029837157|       sao paulo|               SP|
|                      01046| -23.54612896641469| -46.64295148361138|       sao paulo|               SP|
|                      01041|  -23.5443921648681| -46.63949930627844|       sao paulo|               SP|
|                      01035|-23.541577961711493| -46.64160722329613|       sao paulo|               SP|
|                      01012|-23.547762303364266| -46.63536053788448|       são paulo|               SP|
|                      01047|-23.546273112412678| -46.64122516971552|       sao paulo|               SP|
|                      01013|-23.546923208436723|  -46.6342636964915|       sao paulo|               SP|
|                      01029|-23.543769055769133| -46.63427784085132|       sao paulo|               SP|
|                      01011|-23.547639550320632| -46.63603162315495|       sao paulo|               SP|
|                      01013|-23.547325128224376| -46.63418378613892|       sao paulo|               SP|
|                      01032| -23.53841810407414|-46.634778375266734|       sao paulo|               SP|
|                      01014|-23.546435343326205| -46.63383023397196|       sao paulo|               SP|
|                      01012|-23.548945985189434| -46.63467113292871|       sao paulo|               SP|
|                      01037|-23.545187340816042| -46.63785524104107|       são paulo|               SP|
|                      01046|-23.546081127035535| -46.64482029837157|       sao paulo|               SP|
|                      01039|-23.541883009983316| -46.63991946670314|       sao paulo|               SP|
|                      01024|-23.541389521053937|-46.629899087812184|       são paulo|               SP|
|                      01009| -23.54693540437998| -46.63658792659698|       sao paulo|               SP|
|                      01046|-23.545884279214015|-46.643163191240035|       sao paulo|               SP|
+---------------------------+-------------------+-------------------+----------------+-----------------+
only showing top 20 rows

## 2) Orders Info - Orders, Items, Payments, Reviews

In [7]:
df_orders = spark.read.option('header', 'True').csv('../10_analise_exploratoria_ecommerce_olist/data/olist_orders_dataset.csv')
df_orders.show()

+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
|            order_id|         customer_id|order_status|order_purchase_timestamp|  order_approved_at|order_delivered_carrier_date|order_delivered_customer_date|order_estimated_delivery_date|
+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
|e481f51cbdc54678b...|9ef432eb625129730...|   delivered|     2017-10-02 10:56:33|2017-10-02 11:07:15|         2017-10-04 19:55:00|          2017-10-10 21:25:13|          2017-10-18 00:00:00|
|53cdb2fc8bc7dce0b...|b0830fb4747a6c6d2...|   delivered|     2018-07-24 20:41:37|2018-07-26 03:24:27|         2018-07-26 14:31:00|          2018-08-07 15:27:45|          2018-08-13 00:00:00|
|47770eb9100c2d0c4...|41ce2a54c0b03bf34...|   delivered|     2018-08-08 08:38:49|2018-08-08 08:55:23|         2018-08-08 13:50:00|          2018-08-17 18:06:29|          2018-09-04 00:00:00|
|949d5b44dbf5de918...|f88197465ea7920ad...|   delivered|     2017-11-18 19:28:06|2017-11-18 19:45:59|         2017-11-22 13:39:59|          2017-12-02 00:28:42|          2017-12-15 00:00:00|
|ad21c59c0840e6cb8...|8ab97904e6daea886...|   delivered|     2018-02-13 21:18:39|2018-02-13 22:20:29|         2018-02-14 19:46:34|          2018-02-16 18:17:02|          2018-02-26 00:00:00|
|a4591c265e18cb1dc...|503740e9ca751ccdd...|   delivered|     2017-07-09 21:57:05|2017-07-09 22:10:13|         2017-07-11 14:58:04|          2017-07-26 10:57:55|          2017-08-01 00:00:00|
|136cce7faa42fdb2c...|ed0271e0b7da060a3...|    invoiced|     2017-04-11 12:22:08|2017-04-13 13:25:17|                        null|                         null|          2017-05-09 00:00:00|
|6514b8ad8028c9f2c...|9bdf08b4b3b52b552...|   delivered|     2017-05-16 13:10:30|2017-05-16 13:22:11|         2017-05-22 10:07:46|          2017-05-26 12:55:51|          2017-06-07 00:00:00|
|76c6e866289321a7c...|f54a9f0e6b351c431...|   delivered|     2017-01-23 18:29:09|2017-01-25 02:50:47|         2017-01-26 14:16:31|          2017-02-02 14:08:10|          2017-03-06 00:00:00|
|e69bfb5eb88e0ed6a...|31ad1d1b63eb99624...|   delivered|     2017-07-29 11:55:02|2017-07-29 12:05:32|         2017-08-10 19:45:24|          2017-08-16 17:14:30|          2017-08-23 00:00:00|
|e6ce16cb79ec1d90b...|494dded5b201313c6...|   delivered|     2017-05-16 19:41:10|2017-05-16 19:50:18|         2017-05-18 11:40:40|          2017-05-29 11:18:31|          2017-06-07 00:00:00|
|34513ce0c4fab462a...|7711cf624183d843a...|   delivered|     2017-07-13 19:58:11|2017-07-13 20:10:08|         2017-07-14 18:43:29|          2017-07-19 14:04:48|          2017-08-08 00:00:00|
|82566a660a982b15f...|d3e3b74c766bc6214...|   delivered|     2018-06-07 10:06:19|2018-06-09 03:13:12|         2018-06-11 13:29:00|          2018-06-19 12:05:52|          2018-07-18 00:00:00|
|5ff96c15d0b717ac6...|19402a48fe860416a...|   delivered|     2018-07-25 17:44:10|2018-07-25 17:55:14|         2018-07-26 13:16:00|          2018-07-30 15:52:25|          2018-08-08 00:00:00|
|432aaf21d85167c2c...|3df704f53d3f1d481...|   delivered|     2018-03-01 14:14:28|2018-03-01 15:10:47|         2018-03-02 21:09:20|          2018-03-12 23:36:26|          2018-03-21 00:00:00|
|dcb36b511fcac050b...|3b6828a50ffe54694...|   delivered|     2018-06-07 19:03:12|2018-06-12 23:31:02|         2018-06-11 14:54:00|          2018-06-21 15:34:32|          2018-07-04 00:00:00|
|403b97836b0c04a62...|738b086814c6fcc74...|   delivered|     2018-01-02 19:00:43|2018-01-02 19:09:04|         2018-01-03 18:19:09|          2018-01-20 01:38:59|          2018-02-06 00:00:00|
|116f0b09343b49556...|3187789bec9909876...|   delivered|     2017-12-26 23:41:31|2017-12-26 23:50:22|         2017-12-28 18:33:05|          2018-01-08 22:36:36|          2018-01-29 00:00:00|
|85ce859fd6dc634de...|059f7fc5719c7da6c...|   delivered|     2017-11-21 00:03:41|2017-11-21 00:14:22|         2017-11-23 21:32:26|          2017-11-27 18:28:00|          2017-12-11 00:00:00|
|83018ec114eee8641...|7f8c8b9c2ae27bf33...|   delivered|     2017-10-26 15:54:26|2017-10-26 16:08:14|         2017-10-26 21:46:53|          2017-11-08 22:22:00|          2017-11-23 00:00:00|
+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
only showing top 20 rows

In [8]:
df_order_items = spark.read.option('header', 'True').csv('../10_analise_exploratoria_ecommerce_olist/data/olist_order_items_dataset.csv')
df_order_items.show()

+--------------------+-------------+--------------------+--------------------+-------------------+------+-------------+
|            order_id|order_item_id|          product_id|           seller_id|shipping_limit_date| price|freight_value|
+--------------------+-------------+--------------------+--------------------+-------------------+------+-------------+
|00010242fe8c5a6d1...|            1|4244733e06e7ecb49...|48436dade18ac8b2b...|2017-09-19 09:45:35| 58.90|        13.29|
|00018f77f2f0320c5...|            1|e5f2d52b802189ee6...|dd7ddc04e1b6c2c61...|2017-05-03 11:05:13|239.90|        19.93|
|000229ec398224ef6...|            1|c777355d18b72b67a...|5b51032eddd242adc...|2018-01-18 14:48:30|199.00|        17.87|
|00024acbcdf0a6daa...|            1|7634da152a4610f15...|9d7a1d34a50524090...|2018-08-15 10:10:18| 12.99|        12.79|
|00042b26cf59d7ce6...|            1|ac6c3623068f30de0...|df560393f3a51e745...|2017-02-13 13:57:51|199.90|        18.14|
|00048cc3ae777c65d...|            1|ef92defde845ab845...|6426d21aca402a131...|2017-05-23 03:55:27| 21.90|        12.69|
|00054e8431b9d7675...|            1|8d4f2bb7e93e6710a...|7040e82f899a04d1b...|2017-12-14 12:10:31| 19.90|        11.85|
|000576fe39319847c...|            1|557d850972a7d6f79...|5996cddab893a4652...|2018-07-10 12:30:45|810.00|        70.75|
|0005a1a1728c9d785...|            1|310ae3c140ff94b03...|a416b6a846a117243...|2018-03-26 18:31:29|145.95|        11.65|
|0005f50442cb953dc...|            1|4535b0e1091c278df...|ba143b05f0110f0dc...|2018-07-06 14:10:56| 53.99|        11.40|
|00061f2a7bc09da83...|            1|d63c1011f49d98b97...|cc419e0650a3c5ba7...|2018-03-29 22:28:09| 59.99|         8.88|
|00063b381e2406b52...|            1|f177554ea93259a5b...|8602a61d680a10a82...|2018-07-31 17:30:39| 45.00|        12.98|
|0006ec9db01a64e59...|            1|99a4788cb24856965...|4a3ca9315b744ce9f...|2018-07-26 17:24:20| 74.00|        23.32|
|0008288aa423d2a3f...|            1|368c6c730842d7801...|1f50f920176fa81da...|2018-02-21 02:55:52| 49.90|        13.37|
|0008288aa423d2a3f...|            2|368c6c730842d7801...|1f50f920176fa81da...|2018-02-21 02:55:52| 49.90|        13.37|
|0009792311464db53...|            1|8cab8abac59158715...|530ec6109d11eaaf8...|2018-08-17 12:15:10| 99.90|        27.65|
|0009c9a17f916a706...|            1|3f27ac8e699df3d30...|fcb5ace8bcc92f757...|2018-05-02 09:31:53|639.00|        11.34|
|000aed2e25dbad2f9...|            1|4fa33915031a8cde0...|fe2032dab1a61af87...|2018-05-16 20:57:03|144.00|         8.77|
|000c3e6612759851c...|            1|b50c950aba0dcead2...|218d46b86c1881d02...|2017-08-21 03:33:13| 99.00|        13.71|
|000e562887b1f2006...|            1|5ed9eaf534f6936b5...|8cbac7e12637ed9cf...|2018-02-28 12:08:37| 25.00|        16.11|
+--------------------+-------------+--------------------+--------------------+-------------------+------+-------------+
only showing top 20 rows

In [9]:
df_order_payments = spark.read.option('header', 'True').csv('../10_analise_exploratoria_ecommerce_olist/data/olist_order_payments_dataset.csv')
df_order_payments.show()

+--------------------+------------------+------------+--------------------+-------------+
|            order_id|payment_sequential|payment_type|payment_installments|payment_value|
+--------------------+------------------+------------+--------------------+-------------+
|b81ef226f3fe1789b...|                 1| credit_card|                   8|        99.33|
|a9810da82917af2d9...|                 1| credit_card|                   1|        24.39|
|25e8ea4e93396b6fa...|                 1| credit_card|                   1|        65.71|
|ba78997921bbcdc13...|                 1| credit_card|                   8|       107.78|
|42fdf880ba16b47b5...|                 1| credit_card|                   2|       128.45|
|298fcdf1f73eb413e...|                 1| credit_card|                   2|        96.12|
|771ee386b001f0620...|                 1| credit_card|                   1|        81.16|
|3d7239c394a212faa...|                 1| credit_card|                   3|        51.84|
|1f78449c87a54faf9...|                 1| credit_card|                   6|       341.09|
|0573b5e23cbd79800...|                 1|      boleto|                   1|        51.95|
|d88e0d5fa41661ce0...|                 1| credit_card|                   8|       188.73|
|2480f727e869fdeb3...|                 1| credit_card|                   1|       141.90|
|616105c9352a9668c...|                 1| credit_card|                   1|        75.78|
|cf95215a722f3ebf2...|                 1| credit_card|                   5|       102.66|
|769214176682788a9...|                 1| credit_card|                   4|       105.28|
|12e5cfe0e4716b59a...|                 1| credit_card|                  10|       157.45|
|61059985a6fc0ad64...|                 1| credit_card|                   1|       132.04|
|79da3f5fe31ad1e45...|                 1| credit_card|                   1|        98.94|
|8ac09207f415d55ac...|                 1| credit_card|                   4|       244.15|
|b2349a3f20dfbeef6...|                 1| credit_card|                   3|       136.71|
+--------------------+------------------+------------+--------------------+-------------+
only showing top 20 rows

In [10]:
df_order_reviews = spark.read.option('header', 'True').csv('../10_analise_exploratoria_ecommerce_olist/data/olist_order_reviews_dataset.csv')
df_order_reviews.show()

+--------------------+--------------------+------------+--------------------+----------------------+--------------------+-----------------------+
|           review_id|            order_id|review_score|review_comment_title|review_comment_message|review_creation_date|review_answer_timestamp|
+--------------------+--------------------+------------+--------------------+----------------------+--------------------+-----------------------+
|7bc2406110b926393...|73fc7af87114b3971...|           4|                null|                  null| 2018-01-18 00:00:00|    2018-01-18 21:46:59|
|80e641a11e56f04c1...|a548910a1c6147796...|           5|                null|                  null| 2018-03-10 00:00:00|    2018-03-11 03:05:13|
|228ce5500dc1d8e02...|f9e4b658b201a9f2e...|           5|                null|                  null| 2018-02-17 00:00:00|    2018-02-18 14:36:24|
|e64fb393e7b32834b...|658677c97b385a9be...|           5|                null|  Recebi bem antes ...| 2017-04-21 00:00:00|    2017-04-21 22:02:06|
|f7c4243c7fe1938f1...|8e6bfb81e283fa7e4...|           5|                null|  Parabéns lojas la...| 2018-03-01 00:00:00|    2018-03-02 10:26:53|
|15197aa66ff4d0650...|b18dcdf73be663668...|           1|                null|                  null| 2018-04-13 00:00:00|    2018-04-16 00:39:37|
|07f9bee5d1b850860...|e48aa0d2dcec3a2e8...|           5|                null|                  null| 2017-07-16 00:00:00|    2017-07-18 19:30:34|
|7c6400515c67679fb...|c31a859e34e3adac2...|           5|                null|                  null| 2018-08-14 00:00:00|    2018-08-14 21:36:06|
|a3f6f7f6f433de0ae...|9c214ac970e842735...|           5|                null|                  null| 2017-05-17 00:00:00|    2017-05-18 12:05:37|
|8670d52e15e00043a...|b9bf720beb4ab3728...|           4|           recomendo|  aparelho eficient...| 2018-05-22 00:00:00|    2018-05-23 16:45:47|
|c9cfd2d5ab5911836...|cdf9aa68e72324eeb...|           5|                null|                  null| 2017-12-23 00:00:00|    2017-12-26 14:36:03|
|96052551d87e5f62e...|3d374c9e46530bb5e...|           5|                null|                  null| 2017-12-19 00:00:00|    2017-12-20 10:25:22|
|4b49719c8a200003f...|9d6f15f95d01e79bd...|           4|                null|  Mas um pouco ,tra...|                null|                   null|
|,2018-02-16 00:00...|                null|        null|                null|                  null|                null|                   null|
|23f75a37effc35d9a...|2eaf8e099d871cd5c...|           4|                null|                  null| 2018-03-28 00:00:00|    2018-03-30 15:10:55|
|9a0abbb668bafb95a...|d7bd0e4afdf94846e...|           3|                null|                  null| 2017-04-30 00:00:00|    2017-05-03 00:02:22|
|3948b09f7c818e2d8...|e51478e7e277a8374...|           5|     Super recomendo|  Vendedor confiáve...| 2018-05-23 00:00:00|    2018-05-24 03:00:01|
|9314d6f9799f5bfba...|0dacf04c5ad59fd5a...|           2|                null|  GOSTARIA DE SABER...| 2018-01-18 00:00:00|    2018-01-20 21:25:45|
|8e15a274d95600fa1...|ff1581e08b3011021...|           5|                null|                  null| 2018-03-24 00:00:00|    2018-03-26 15:58:32|
|fdbdb2629a7cde0f6...|70a752414a13d09cc...|           3|                null|                  null| 2017-09-29 00:00:00|    2017-10-02 01:12:49|
+--------------------+--------------------+------------+--------------------+----------------------+--------------------+-----------------------+
only showing top 20 rows

## 3) Products - Products and Categories

In [11]:
df_products = spark.read.option('header', 'True').csv('../10_analise_exploratoria_ecommerce_olist/data/olist_products_dataset.csv')
df_products.show()

+--------------------+---------------------+-------------------+--------------------------+------------------+----------------+-----------------+-----------------+----------------+
|          product_id|product_category_name|product_name_lenght|product_description_lenght|product_photos_qty|product_weight_g|product_length_cm|product_height_cm|product_width_cm|
+--------------------+---------------------+-------------------+--------------------------+------------------+----------------+-----------------+-----------------+----------------+
|1e9e8ef04dbcff454...|           perfumaria|                 40|                       287|                 1|             225|               16|               10|              14|
|3aa071139cb16b67c...|                artes|                 44|                       276|                 1|            1000|               30|               18|              20|
|96bd76ec8810374ed...|        esporte_lazer|                 46|                       250|                 1|             154|               18|                9|              15|
|cef67bcfe19066a93...|                bebes|                 27|                       261|                 1|             371|               26|                4|              26|
|9dc1a7de274444849...| utilidades_domest...|                 37|                       402|                 4|             625|               20|               17|              13|
|41d3672d4792049fa...| instrumentos_musi...|                 60|                       745|                 1|             200|               38|                5|              11|
|732bd381ad09e530f...|           cool_stuff|                 56|                      1272|                 4|           18350|               70|               24|              44|
|2548af3e6e77a690c...|     moveis_decoracao|                 56|                       184|                 2|             900|               40|                8|              40|
|37cc742be07708b53...|     eletrodomesticos|                 57|                       163|                 1|             400|               27|               13|              17|
|8c92109888e8cdf9d...|           brinquedos|                 36|                      1156|                 1|             600|               17|               10|              12|
|14aa47b7fe5c25522...|      cama_mesa_banho|                 54|                       630|                 1|            1100|               16|               10|              16|
|03b63c5fc16691530...|                bebes|                 49|                       728|                 4|            7150|               50|               19|              45|
|cf55509ea8edaaac1...| instrumentos_musi...|                 43|                      1827|                 3|             250|               17|                7|              17|
|7bb6f29c2be577161...|     moveis_decoracao|                 51|                      2083|                 2|             600|               68|               11|              13|
|eb31436580a610f20...| construcao_ferram...|                 59|                      1602|                 4|             200|               17|                7|              17|
|3bb7f144022e67327...|        esporte_lazer|                 22|                      3021|                 1|             800|               16|                2|              11|
|6a2fb4dd53d2cdb88...|           perfumaria|                 39|                       346|                 2|             400|               27|                5|              20|
|a1b71017a84f92fd8...| informatica_acess...|                 59|                       636|                 1|             900|               40|               15|              20|
|a0736b92e52f6cead...|     moveis_decoracao|                 56|                       296|                 2|            1700|              100|                7|              15|
|f53103a77d9cf245e...|      cama_mesa_banho|                 52|                       206|                 1|             500|               16|               10|              16|
+--------------------+---------------------+-------------------+--------------------------+------------------+----------------+-----------------+-----------------+----------------+
only showing top 20 rows

# <font color='red' style='font-size: 40px;'> Perguntas a serem Respondidas </font>

In [12]:
df_customers.createOrReplaceTempView('df_customers')
df_sellers.createOrReplaceTempView('df_sellers')
df_geolocation.createOrReplaceTempView('df_geolocation')

df_orders.createOrReplaceTempView('df_orders')
df_order_items.createOrReplaceTempView('df_order_items')
df_order_payments.createOrReplaceTempView('df_order_payments')
df_order_reviews.createOrReplaceTempView('df_order_reviews')

df_products.createOrReplaceTempView('df_products')

- 1) Qual o valor máximo gasto para cada cliente?

In [13]:
valor_maximo_por_cliente = spark.sql("""
WITH table_transaction AS(
SELECT
    A.customer_unique_id,
    C.price
FROM df_customers as A
LEFT JOIN df_orders as B on A.customer_id = B.customer_id
LEFT JOIN df_order_items as C on B.order_id = C.order_id
LEFT JOIN df_products as D on C.product_id = D.product_id
)
SELECT
    customer_unique_id,
    MAX(price) OVER(PARTITION BY customer_unique_id) as preco_maximo_por_cliente
FROM table_transaction
""")
valor_maximo_por_cliente.show()

+--------------------+------------------------+
|  customer_unique_id|preco_maximo_por_cliente|
+--------------------+------------------------+
|0005e1862207bf6cc...|                  135.00|
|0006fdc98a402fceb...|                   13.90|
|00090324bbad0e934...|                   49.95|
|000c8bdb58a29e711...|                   13.90|
|00115fc7123b5310c...|                   59.99|
|0011c98589159d614...|                   99.99|
|001a3a8e11d76c9a3...|                    9.00|
|001deb796b28a3a12...|                   39.90|
|001f3c4211216384d...|                   24.88|
|0023557a94bef0038...|                   89.90|
|002aba8c1af80acac...|                  199.90|
|002b4cd83fabaffaa...|                   49.90|
|002cdf87d4c03f08f...|                  196.99|
|002d71b244beb91ca...|                  115.00|
|002eb8b96288f3804...|                  119.90|
|0034c76b7e6a17d73...|                   26.00|
|0035029989e6fc5cf...|                  219.00|
|0035029989e6fc5cf...|                  219.00|
|0036a074f98b80c4f...|                   16.99|
|0036d365b138cc0ee...|                   79.90|
+--------------------+------------------------+
only showing top 20 rows

In [14]:
valor_maximo_por_cliente.withColumnRenamed('preco_maximo_por_cliente', 'PRECO_MAXIMO_POR_CLIENTE') \
                        .dropDuplicates().select('PRECO_MAXIMO_POR_CLIENTE').describe().show()

+-------+------------------------+
|summary|PRECO_MAXIMO_POR_CLIENTE|
+-------+------------------------+
|  count|                   95420|
|   mean|      126.55157178787796|
| stddev|      192.59068341178767|
|    min|                    0.85|
|    max|                  999.99|
+-------+------------------------+

- 2) Quanto cada cliente gastou em cada categoria de produto?

In [15]:
gasto_por_categoria = spark.sql("""
WITH table_transaction AS(
SELECT
    A.customer_unique_id,
    CASE 
        WHEN D.product_category_name in ('informatica_acessorios', 'eletroportateis' , 'consoles_games' , 'audio', 'eletronicos' , 'eletrodomesticos' , 'pcs' , 'eletrodomesticos_2', 'musica', 'cds_dvds_musicais', 'dvds_blu_ray') THEN 'ELECTRONICS'
        WHEN D.product_category_name in ('cama_mesa_banho', 'moveis_decoracao', 'utilidades_domesticas', 'ferramentas_jardim', 'cool_stuff', 'climatizacao', 'construcao_ferramentas_construcao', 'moveis_cozinha_area_de_servico_jantar_e_jardim', 'construcao_ferramentas_jardim', 'moveis_escritorio', 'casa_conforto', 'construcao_ferramentas_ferramentas', 'moveis_colchao_e_estofado', 'casa_construcao', 'moveis_sala', 'construcao_ferramentas_iluminacao', 'artes', 'moveis_quarto', 'construcao_ferramentas_seguranca', 'sinalizacao_e_seguranca', 'la_cuisine', 'portateis_casa_forno_e_cafe') THEN 'HOUSE'
        WHEN D.product_category_name in ('perfumaria', 'alimentos_bebidas', 'bebes', 'papelaria', 'pet_shop', 'alimentos', 'bebidas', 'fraldas_higiene') THEN 'PRODUCTS'
        WHEN D.product_category_name in ('health_beauty', 'auto', 'sports_leisure', 'telephony', 'fixed_telephony', 'market_place', 'agro_industry_and_commerce', 'industry_commerce_and_business', 'security_and_services') THEN 'SERVICES'
        WHEN D.product_category_name in ('fashion_bolsas_e_acessorios', 'fashion_roupa_masculina', 'fashion_underwear_e_moda_praia', 'fashion_esporte', 'fashion_roupa_feminina', 'fashion_roupa_infanto_juvenil') THEN 'FASHION'
        ELSE 'OTHERS'
    END as category_products_grouped,
    C.price
FROM df_customers as A
LEFT JOIN df_orders as B on A.customer_id = B.customer_id
LEFT JOIN df_order_items as C on B.order_id = C.order_id
LEFT JOIN df_products as D on C.product_id = D.product_id
)
SELECT
    customer_unique_id,
    category_products_grouped,
    SUM(price) OVER(PARTITION BY category_products_grouped ORDER BY customer_unique_id) as preco_por_categoria
FROM table_transaction
""")
gasto_por_categoria.show()

+--------------------+-------------------------+-------------------+
|  customer_unique_id|category_products_grouped|preco_por_categoria|
+--------------------+-------------------------+-------------------+
|0000b849f77a49e4a...|                   OTHERS|               18.9|
|0000f6ccb0745a6a4...|                   OTHERS|              44.89|
|0004aac84e0df4da2...|                   OTHERS|             224.89|
|00050ab1314c0e55a...|                   OTHERS|             252.88|
|00053a61a98854899...|                   OTHERS|             634.88|
|00053a61a98854899...|                   OTHERS|             634.88|
|0005ef4cd20d2893f...|                   OTHERS|             739.78|
|00082cbe03e478190...|                   OTHERS|             818.78|
|000a5ad9c4601d2bb...|                   OTHERS|             895.77|
|000d460961d6dbfa3...|                   OTHERS|             924.67|
|000fbf0473c10fc1a...|                   OTHERS| 1210.4699999999998|
|000fbf0473c10fc1a...|                   OTHERS| 1210.4699999999998|
|000fbf0473c10fc1a...|                   OTHERS| 1210.4699999999998|
|000fbf0473c10fc1a...|                   OTHERS| 1210.4699999999998|
|00115fc7123b5310c...|                   OTHERS| 1270.4599999999998|
|0011857aff0e5871c...|                   OTHERS| 1444.7899999999997|
|0012929d977a8d728...|                   OTHERS| 1574.6899999999998|
|0014a5a58da615f7b...|                   OTHERS| 1662.6899999999998|
|0015752e079902b12...|                   OTHERS|            1722.49|
|0015752e079902b12...|                   OTHERS|            1722.49|
+--------------------+-------------------------+-------------------+
only showing top 20 rows

In [16]:
gasto_por_categoria.dropDuplicates().groupBy('category_products_grouped').sum('preco_por_categoria') \
.withColumnRenamed('sum(preco_por_categoria)', 'somatoria_preco').orderBy(F.col('somatoria_preco').desc()).show()

+-------------------------+--------------------+
|category_products_grouped|     somatoria_preco|
+-------------------------+--------------------+
|                   OTHERS|1.114105890487495...|
|                    HOUSE|7.376935888965402E10|
|              ELECTRONICS|1.167618306071960...|
|                 PRODUCTS| 7.244687620370094E9|
|                  FASHION| 1.904901691399985E8|
|                 SERVICES|          4092459.74|
+-------------------------+--------------------+

- 3) Qual foi o preço da última compra de cada cliente?

In [17]:
preco_ultima_compra = spark.sql("""
WITH table_transaction AS(
SELECT
    A.customer_unique_id,
    CASE 
        WHEN D.product_category_name in ('informatica_acessorios', 'eletroportateis' , 'consoles_games' , 'audio', 'eletronicos' , 'eletrodomesticos' , 'pcs' , 'eletrodomesticos_2', 'musica', 'cds_dvds_musicais', 'dvds_blu_ray') THEN 'ELECTRONICS'
        WHEN D.product_category_name in ('cama_mesa_banho', 'moveis_decoracao', 'utilidades_domesticas', 'ferramentas_jardim', 'cool_stuff', 'climatizacao', 'construcao_ferramentas_construcao', 'moveis_cozinha_area_de_servico_jantar_e_jardim', 'construcao_ferramentas_jardim', 'moveis_escritorio', 'casa_conforto', 'construcao_ferramentas_ferramentas', 'moveis_colchao_e_estofado', 'casa_construcao', 'moveis_sala', 'construcao_ferramentas_iluminacao', 'artes', 'moveis_quarto', 'construcao_ferramentas_seguranca', 'sinalizacao_e_seguranca', 'la_cuisine', 'portateis_casa_forno_e_cafe') THEN 'HOUSE'
        WHEN D.product_category_name in ('perfumaria', 'alimentos_bebidas', 'bebes', 'papelaria', 'pet_shop', 'alimentos', 'bebidas', 'fraldas_higiene') THEN 'PRODUCTS'
        WHEN D.product_category_name in ('health_beauty', 'auto', 'sports_leisure', 'telephony', 'fixed_telephony', 'market_place', 'agro_industry_and_commerce', 'industry_commerce_and_business', 'security_and_services') THEN 'SERVICES'
        WHEN D.product_category_name in ('fashion_bolsas_e_acessorios', 'fashion_roupa_masculina', 'fashion_underwear_e_moda_praia', 'fashion_esporte', 'fashion_roupa_feminina', 'fashion_roupa_infanto_juvenil') THEN 'FASHION'
        ELSE 'OTHERS'
    END as category_products_grouped,
    C.price,
    CAST(B.order_purchase_timestamp as date) as date
FROM df_customers as A
LEFT JOIN df_orders as B on A.customer_id = B.customer_id
LEFT JOIN df_order_items as C on B.order_id = C.order_id
LEFT JOIN df_products as D on C.product_id = D.product_id
)
SELECT
    customer_unique_id,
    price,
    ROW_NUMBER() OVER(PARTITION BY customer_unique_id ORDER BY date desc) as rank
FROM table_transaction
""")
preco_ultima_compra.show()

+--------------------+------+----+
|  customer_unique_id| price|rank|
+--------------------+------+----+
|0005e1862207bf6cc...|135.00|   1|
|0006fdc98a402fceb...| 13.90|   1|
|00090324bbad0e934...| 49.95|   1|
|000c8bdb58a29e711...| 13.90|   1|
|00115fc7123b5310c...| 59.99|   1|
|0011c98589159d614...| 99.99|   1|
|001a3a8e11d76c9a3...|  9.00|   1|
|001deb796b28a3a12...| 39.90|   1|
|001f3c4211216384d...| 24.88|   1|
|0023557a94bef0038...| 89.90|   1|
|002aba8c1af80acac...|199.90|   1|
|002b4cd83fabaffaa...| 49.90|   1|
|002cdf87d4c03f08f...|196.99|   1|
|002d71b244beb91ca...|115.00|   1|
|002eb8b96288f3804...|119.90|   1|
|0034c76b7e6a17d73...| 26.00|   1|
|0035029989e6fc5cf...|219.00|   1|
|0035029989e6fc5cf...|219.00|   2|
|0036a074f98b80c4f...| 16.99|   1|
|0036d365b138cc0ee...| 79.90|   1|
+--------------------+------+----+
only showing top 20 rows

In [26]:
intervalo_preco_ultima_compra = preco_ultima_compra.filter((F.col('rank') == 1) & (F.col('price').isNotNull()))
intervalo_preco_ultima_compra.withColumn('Intervalo', F.when(preco_ultima_compra.price <= 100, 'Baixo Preço').otherwise('Preços Altos')).show()

+--------------------+------+----+------------+
|  customer_unique_id| price|rank|   Intervalo|
+--------------------+------+----+------------+
|0005e1862207bf6cc...|135.00|   1|Preços Altos|
|0006fdc98a402fceb...| 13.90|   1| Baixo Preço|
|00090324bbad0e934...| 49.95|   1| Baixo Preço|
|000c8bdb58a29e711...| 13.90|   1| Baixo Preço|
|00115fc7123b5310c...| 59.99|   1| Baixo Preço|
|0011c98589159d614...| 99.99|   1| Baixo Preço|
|001a3a8e11d76c9a3...|  9.00|   1| Baixo Preço|
|001deb796b28a3a12...| 39.90|   1| Baixo Preço|
|001f3c4211216384d...| 24.88|   1| Baixo Preço|
|0023557a94bef0038...| 89.90|   1| Baixo Preço|
|002aba8c1af80acac...|199.90|   1|Preços Altos|
|002b4cd83fabaffaa...| 49.90|   1| Baixo Preço|
|002cdf87d4c03f08f...|196.99|   1|Preços Altos|
|002d71b244beb91ca...|115.00|   1|Preços Altos|
|002eb8b96288f3804...|119.90|   1|Preços Altos|
|0034c76b7e6a17d73...| 26.00|   1| Baixo Preço|
|0035029989e6fc5cf...|219.00|   1|Preços Altos|
|0036a074f98b80c4f...| 16.99|   1| Baixo Preço|
|0036d365b138cc0ee...| 79.90|   1| Baixo Preço|
|003800162424b7b5b...| 85.50|   1| Baixo Preço|
+--------------------+------+----+------------+
only showing top 20 rows

- 4) Qual a média de preços de cada categoria de produtos em cada estado?

In [19]:
media_precos = spark.sql("""
WITH table_transaction AS(
SELECT
    A.customer_unique_id,
    CASE 
        WHEN D.product_category_name in ('informatica_acessorios', 'eletroportateis' , 'consoles_games' , 'audio', 'eletronicos' , 'eletrodomesticos' , 'pcs' , 'eletrodomesticos_2', 'musica', 'cds_dvds_musicais', 'dvds_blu_ray') THEN 'ELECTRONICS'
        WHEN D.product_category_name in ('cama_mesa_banho', 'moveis_decoracao', 'utilidades_domesticas', 'ferramentas_jardim', 'cool_stuff', 'climatizacao', 'construcao_ferramentas_construcao', 'moveis_cozinha_area_de_servico_jantar_e_jardim', 'construcao_ferramentas_jardim', 'moveis_escritorio', 'casa_conforto', 'construcao_ferramentas_ferramentas', 'moveis_colchao_e_estofado', 'casa_construcao', 'moveis_sala', 'construcao_ferramentas_iluminacao', 'artes', 'moveis_quarto', 'construcao_ferramentas_seguranca', 'sinalizacao_e_seguranca', 'la_cuisine', 'portateis_casa_forno_e_cafe') THEN 'HOUSE'
        WHEN D.product_category_name in ('perfumaria', 'alimentos_bebidas', 'bebes', 'papelaria', 'pet_shop', 'alimentos', 'bebidas', 'fraldas_higiene') THEN 'PRODUCTS'
        WHEN D.product_category_name in ('health_beauty', 'auto', 'sports_leisure', 'telephony', 'fixed_telephony', 'market_place', 'agro_industry_and_commerce', 'industry_commerce_and_business', 'security_and_services') THEN 'SERVICES'
        WHEN D.product_category_name in ('fashion_bolsas_e_acessorios', 'fashion_roupa_masculina', 'fashion_underwear_e_moda_praia', 'fashion_esporte', 'fashion_roupa_feminina', 'fashion_roupa_infanto_juvenil') THEN 'FASHION'
        ELSE 'OTHERS'
    END as category_products_grouped,
    C.price,
    E.geolocation_state as state
FROM df_customers as A
LEFT JOIN df_orders as B on A.customer_id = B.customer_id
LEFT JOIN df_order_items as C on B.order_id = C.order_id
LEFT JOIN df_products as D on C.product_id = D.product_id
LEFT JOIN df_geolocation as E on A.customer_zip_code_prefix = E.geolocation_zip_code_prefix
),
table_transaction_2 AS (
SELECT
    state,
    category_products_grouped,
    ROUND(MEAN(price) OVER(PARTITION BY category_products_grouped, state), 2) as preco_medio,
    ROW_NUMBER() OVER(PARTITION BY category_products_grouped, state ORDER BY category_products_grouped) as rank
FROM table_transaction
)
SELECT * FROM table_transaction_2 WHERE rank = 1
""")
media_precos.show()

+-----+-------------------------+-----------+----+
|state|category_products_grouped|preco_medio|rank|
+-----+-------------------------+-----------+----+
|   BA|              ELECTRONICS|      161.2|   1|
|   GO|              ELECTRONICS|      130.0|   1|
|   MA|              ELECTRONICS|     239.93|   1|
|   MG|              ELECTRONICS|     119.15|   1|
|   MT|              ELECTRONICS|     176.95|   1|
|   PA|              ELECTRONICS|      136.9|   1|
|   PE|              ELECTRONICS|     185.15|   1|
|   PR|              ELECTRONICS|     123.19|   1|
|   RJ|              ELECTRONICS|     155.93|   1|
|   AM|                  FASHION|     699.99|   1|
|   MT|                  FASHION|      33.13|   1|
|   PA|                  FASHION|      64.92|   1|
|   RJ|                  FASHION|     100.76|   1|
|   RN|                  FASHION|     299.86|   1|
|   RS|                  FASHION|     105.03|   1|
|   SE|                  FASHION|      50.92|   1|
|   SP|                  FASHION|      65.36|   1|
| null|                    HOUSE|     115.17|   1|
|   BA|                    HOUSE|      133.1|   1|
|   MG|                    HOUSE|     109.04|   1|
+-----+-------------------------+-----------+----+
only showing top 20 rows

In [31]:
media_precos.groupBy('state').mean('preco_medio').withColumnRenamed('preco_medio', 'preco_medio_estado') \
.filter(F.col('state').isNotNull()).show()

+-----+------------------+
|state|  avg(preco_medio)|
+-----+------------------+
|   SC|109.65333333333332|
|   RO|136.65166666666667|
|   AM|232.24833333333333|
|   GO|105.98333333333333|
|   TO|            136.03|
|   MT|           129.245|
|   SP|100.65166666666666|
|   PB|184.64499999999998|
|   RS|115.02333333333333|
|   MS|113.34666666666665|
|   MG|109.67999999999999|
|   PA|            130.97|
|   BA| 158.1183333333333|
|   SE|126.62333333333333|
|   PE|118.04666666666667|
|   RN|166.92666666666665|
|   RJ|116.50166666666667|
|   MA|131.45833333333334|
|   AC|148.24833333333333|
|   DF|112.52499999999999|
+-----+------------------+
only showing top 20 rows

- 5) Quais os principais meios de pagamento em cada um dos estados?

In [20]:
principais_meios_de_pagamento = spark.sql("""
WITH table_transaction AS(
SELECT
    A.customer_unique_id,
    C.payment_type,
    D.geolocation_state as state
FROM df_customers as A
LEFT JOIN df_orders as B on A.customer_id = B.customer_id
LEFT JOIN df_order_payments as C on C.order_id = B.order_id
LEFT JOIN df_geolocation as D on A.customer_zip_code_prefix = D.geolocation_zip_code_prefix
)
SELECT
    state,
    payment_type,
    COUNT(*) as qt_pagamentos
FROM table_transaction
GROUP BY 1, 2
ORDER BY state asc, qt_pagamentos desc
""")
principais_meios_de_pagamento.show()

+-----+------------+-------------+
|state|payment_type|qt_pagamentos|
+-----+------------+-------------+
| null| credit_card|          215|
| null|      boleto|           57|
| null|     voucher|           14|
| null|  debit_card|            1|
|   AC| credit_card|         5701|
|   AC|      boleto|         1773|
|   AC|     voucher|          602|
|   AC|  debit_card|           23|
|   AL| credit_card|        27974|
|   AL|      boleto|         6294|
|   AL|     voucher|          952|
|   AL|  debit_card|          620|
|   AM| credit_card|         4844|
|   AM|      boleto|          663|
|   AM|     voucher|          164|
|   AM|  debit_card|           79|
|   AP| credit_card|         3349|
|   AP|      boleto|         1438|
|   AP|     voucher|          241|
|   BA| credit_card|       288234|
+-----+------------+-------------+
only showing top 20 rows

- 6) Selecione o principal meio de pagamento de cada estado.

In [21]:
principal_meio_de_pagamento = spark.sql("""
WITH table_transaction AS(
SELECT
    A.customer_unique_id,
    C.payment_type,
    D.geolocation_state as state
FROM df_customers as A
LEFT JOIN df_orders as B on A.customer_id = B.customer_id
LEFT JOIN df_order_payments as C on C.order_id = B.order_id
LEFT JOIN df_geolocation as D on A.customer_zip_code_prefix = D.geolocation_zip_code_prefix
),
table_transaction_2 AS (
SELECT
    state,
    payment_type,
    COUNT(*) as qt_pagamentos
FROM table_transaction
GROUP BY 1, 2
ORDER BY state asc, qt_pagamentos desc
),
table_transaction_3 AS(
SELECT 
    *,
    ROW_NUMBER() OVER(PARTITION BY state ORDER BY qt_pagamentos desc) as rank
FROM table_transaction_2
)
SELECT * FROM table_transaction_3 WHERE rank = 1
""")
principal_meio_de_pagamento.show()

+-----+------------+-------------+----+
|state|payment_type|qt_pagamentos|rank|
+-----+------------+-------------+----+
| null| credit_card|          215|   1|
|   AC| credit_card|         5701|   1|
|   AL| credit_card|        27974|   1|
|   AM| credit_card|         4844|   1|
|   AP| credit_card|         3349|   1|
|   BA| credit_card|       288234|   1|
|   CE| credit_card|        52660|   1|
|   DF| credit_card|        74498|   1|
|   ES| credit_card|       247377|   1|
|   GO| credit_card|        99545|   1|
|   MA| credit_card|        38705|   1|
|   MG| credit_card|      2260778|   1|
|   MS| credit_card|        43609|   1|
|   MT| credit_card|        91908|   1|
|   PA| credit_card|        63230|   1|
|   PB| credit_card|        22378|   1|
|   PE| credit_card|        90451|   1|
|   PI| credit_card|        18745|   1|
|   PR| credit_card|       473670|   1|
|   RJ| credit_card|      2428105|   1|
+-----+------------+-------------+----+
only showing top 20 rows

- 7) Para clientes que comparam mais de uma vez, qual a diferença de dias entre a primeira e a última compra de cada cliente?

In [22]:
diferenca_dias_primeira_ultima_compra = spark.sql("""
WITH table_transaction AS(
SELECT
    A.customer_unique_id,
    C.price,
    CAST(B.order_purchase_timestamp as date) as date
FROM df_customers as A
LEFT JOIN df_orders as B on A.customer_id = B.customer_id
LEFT JOIN df_order_items as C on B.order_id = C.order_id
),
table_transaction_2 AS (
SELECT
    customer_unique_id,
    price,
    date,
    ROW_NUMBER() OVER(PARTITION BY customer_unique_id ORDER BY customer_unique_id, date desc) as rank
FROM table_transaction
),
table_transaction_3 AS (
SELECT 
    *,
    COALESCE(LAG(price) OVER(PARTITION BY customer_unique_id ORDER BY RANK), 0) as lag
FROM table_transaction_2 
WHERE customer_unique_id in (SELECT customer_unique_id FROM table_transaction_2 WHERE rank <> 1)
)
SELECT 
    customer_unique_id, 
    ROUND(price-lag, 2) as diff_primeira_ultima_compra
FROM table_transaction_3
""")
diferenca_dias_primeira_ultima_compra.show()

+--------------------+---------------------------+
|  customer_unique_id|diff_primeira_ultima_compra|
+--------------------+---------------------------+
|0035029989e6fc5cf...|                      219.0|
|0035029989e6fc5cf...|                        0.0|
|004288347e5e88a27...|                       87.9|
|004288347e5e88a27...|                     142.09|
|004b45ec5c6418746...|                       27.0|
|004b45ec5c6418746...|                       32.9|
|00504b68faa074d0f...|                       89.0|
|00504b68faa074d0f...|                      -26.0|
|005754cb59f8ee5cd...|                     110.32|
|005754cb59f8ee5cd...|                        0.0|
|0063817060d662048...|                       18.9|
|0063817060d662048...|                        0.0|
|008b06aba4b5f5b5b...|                      33.99|
|008b06aba4b5f5b5b...|                        0.0|
|00a39521eb40f7012...|                      11.55|
|00a39521eb40f7012...|                      58.35|
|00adeda9b742746c0...|                     1449.5|
|00adeda9b742746c0...|                     -820.5|
|00b1066a65657ee17...|                       24.9|
|00b1066a65657ee17...|                        0.0|
+--------------------+---------------------------+
only showing top 20 rows

- 8) Defina, para cada um dos meios de pagamento, quais meses tiveram mais receita.

In [23]:
meses_com_maior_receita = spark.sql("""
WITH table_transaction AS(
SELECT
    A.customer_unique_id,
    CASE 
        WHEN D.product_category_name in ('informatica_acessorios', 'eletroportateis' , 'consoles_games' , 'audio', 'eletronicos' , 'eletrodomesticos' , 'pcs' , 'eletrodomesticos_2', 'musica', 'cds_dvds_musicais', 'dvds_blu_ray') THEN 'ELECTRONICS'
        WHEN D.product_category_name in ('cama_mesa_banho', 'moveis_decoracao', 'utilidades_domesticas', 'ferramentas_jardim', 'cool_stuff', 'climatizacao', 'construcao_ferramentas_construcao', 'moveis_cozinha_area_de_servico_jantar_e_jardim', 'construcao_ferramentas_jardim', 'moveis_escritorio', 'casa_conforto', 'construcao_ferramentas_ferramentas', 'moveis_colchao_e_estofado', 'casa_construcao', 'moveis_sala', 'construcao_ferramentas_iluminacao', 'artes', 'moveis_quarto', 'construcao_ferramentas_seguranca', 'sinalizacao_e_seguranca', 'la_cuisine', 'portateis_casa_forno_e_cafe') THEN 'HOUSE'
        WHEN D.product_category_name in ('perfumaria', 'alimentos_bebidas', 'bebes', 'papelaria', 'pet_shop', 'alimentos', 'bebidas', 'fraldas_higiene') THEN 'PRODUCTS'
        WHEN D.product_category_name in ('health_beauty', 'auto', 'sports_leisure', 'telephony', 'fixed_telephony', 'market_place', 'agro_industry_and_commerce', 'industry_commerce_and_business', 'security_and_services') THEN 'SERVICES'
        WHEN D.product_category_name in ('fashion_bolsas_e_acessorios', 'fashion_roupa_masculina', 'fashion_underwear_e_moda_praia', 'fashion_esporte', 'fashion_roupa_feminina', 'fashion_roupa_infanto_juvenil') THEN 'FASHION'
        ELSE 'OTHERS'
    END as category_products_grouped,
    C.price,
    CAST(B.order_purchase_timestamp as date) as date,
    YEAR(CAST(B.order_purchase_timestamp as date))*100 + MONTH(CAST(B.order_purchase_timestamp as date)) as cdmes
FROM df_customers as A
LEFT JOIN df_orders as B on A.customer_id = B.customer_id
LEFT JOIN df_order_items as C on B.order_id = C.order_id
LEFT JOIN df_products as D on C.product_id = D.product_id
)
SELECT
    category_products_grouped,
    cdmes,
    ROUND(SUM(price), 2) as faturamento
FROM table_transaction
GROUP BY 1, 2
ORDER BY 1, 3 desc
""")
meses_com_maior_receita.show()

+-------------------------+------+-----------+
|category_products_grouped| cdmes|faturamento|
+-------------------------+------+-----------+
|              ELECTRONICS|201803|  150852.45|
|              ELECTRONICS|201802|  150540.65|
|              ELECTRONICS|201804|  148664.73|
|              ELECTRONICS|201801|  144676.07|
|              ELECTRONICS|201711|  126208.73|
|              ELECTRONICS|201805|  118677.53|
|              ELECTRONICS|201710|  112341.18|
|              ELECTRONICS|201709|   110555.2|
|              ELECTRONICS|201806|  104595.47|
|              ELECTRONICS|201807|  102406.78|
|              ELECTRONICS|201708|   94591.83|
|              ELECTRONICS|201808|   90401.72|
|              ELECTRONICS|201712|   87340.93|
|              ELECTRONICS|201705|   67269.14|
|              ELECTRONICS|201707|   63138.73|
|              ELECTRONICS|201706|    60780.6|
|              ELECTRONICS|201703|   58401.16|
|              ELECTRONICS|201704|   56276.26|
|              ELECTRONICS|201702|   29222.38|
|              ELECTRONICS|201701|    16532.4|
+-------------------------+------+-----------+
only showing top 20 rows

- 9) Qual a diferença de dias entre a data de compra e data de review para cada cliente?

In [24]:
diferenca_dias_compra_review = spark.sql("""
WITH table_transaction AS(
SELECT
    A.customer_unique_id,
    CAST(B.order_purchase_timestamp as date) as date_purchase,
    CAST(E.review_creation_date as date) as date_review
FROM df_customers as A
LEFT JOIN df_orders as B on A.customer_id = B.customer_id
LEFT JOIN df_order_items as C on B.order_id = C.order_id
LEFT JOIN df_products as D on C.product_id = D.product_id
LEFT JOIN df_order_reviews as E on E.order_id = B.order_id
)
SELECT
    *,
    COALESCE(DATEDIFF(day, date_purchase, date_review), 'Não Houve Review') as diff_days
FROM table_transaction
""")
diferenca_dias_compra_review.show()

+--------------------+-------------+-----------+----------------+
|  customer_unique_id|date_purchase|date_review|       diff_days|
+--------------------+-------------+-----------+----------------+
|861eff4711a542e4b...|   2017-05-16| 2017-05-26|              10|
|290c77bc529b7ac93...|   2018-01-12| 2018-01-30|              18|
|060e732b5b29e8181...|   2018-05-19| 2018-06-15|              27|
|259dac757896d24d7...|   2018-03-13| 2018-03-29|              16|
|345ecd01c38d18a90...|   2018-07-29| 2018-08-10|              12|
|4c93744516667ad3b...|   2017-09-14| 2017-09-29|              15|
|addec96d2e059c80c...|   2018-02-19| 2018-02-21|               2|
|57b2a98a409812fe9...|   2017-11-16| 2017-11-28|              12|
|1175e95fb47ddff9d...|   2018-01-18| 2018-01-27|               9|
|9afe194fb833f79e3...|   2018-01-08| 2018-01-14|               6|
|2a7745e1ed516b289...|   2017-11-27| 2017-12-09|              12|
|2a46fb94aef5cbeeb...|   2018-02-07| 2018-02-27|              20|
|918dc87cd72cd9f6e...|   2017-09-09| 2017-09-21|              12|
|295c05e81917928d7...|   2018-03-07| 2018-03-16|               9|
|3151a81801c838636...|   2018-04-01| 2018-04-14|              13|
|21f748a16f4e1688a...|   2018-01-29| 2018-02-09|              11|
|5c2991dbd08bbf3cf...|   2018-08-13| 2018-08-18|               5|
|b6e99561fe6f34a55...|   2018-06-18| 2018-06-22|               4|
|7f3a72e8f988c6e73...|   2017-05-11|       null|Não Houve Review|
|3e6fd6b2f0d499456...|   2017-11-01| 2017-12-03|              32|
+--------------------+-------------+-----------+----------------+
only showing top 20 rows