<h1 style='color: blue; font-size: 34px; font-weight: bold;'> Projeto Proposto 
</h1>

<p style='font-size: 18px; line-height: 2; margin: 0px 0px; text-align: justify; text-indent: 0px;'>    
<i> Este projeto baseia-se na aplicação de Técnicas de PySpark em uma Análise Exploratória nos dados de Futebol na Europa. </i>       
</p>

# <font color='red' style='font-size: 40px;'> Library  </font>

In [35]:
## Bibliotecas De Manipulação de Dados e Visualização
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
from pyspark.sql import SparkSession, Row 
from pyspark.sql.functions import *

## Bibliotecas de Modelagem Matemática e Estatística
import numpy as np
import scipy as sp 
import statsmodels.api as sm
import statsmodels.formula.api as smf

# Bibliotecas de Manipulação de Tempo
from datetime import datetime, date


# Parâmetros de Otimização
import warnings
%matplotlib inline
sns.set()
plt.rcParams['font.family'] = 'Arial'
plt.rcParams['font.size'] = '14'
plt.rcParams['figure.figsize'] = [10, 5]
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)
pd.set_option('display.float_format', lambda x: '%.2f' % x) # Tira os números do formato de Notação Científica
np.set_printoptions(suppress=True) # Tira os números do formato de Notação Científica em Numpy Arrays
warnings.filterwarnings('ignore')
warnings.simplefilter(action='ignore', category=FutureWarning) # Retira Future Warnings

# <font color='red' style='font-size: 40px;'> Perguntas a serem Respondidas </font>

- Quantas partidas há em cada liga na temporada de 2016?

- Qual Liga teve mais partidas empatadas na temporada de 2016?

- Qual Liga teve mais vitórias na temporada de 2016?

- Qual Liga teve mais gols na temporada de 2016?

- Quais equipes tiveram mais vitórias em partidas na temporada de 2016 em cada uma de suas Ligas?

- Quais equipes perderam menos partidas na temporada de 2016 em cada uma de suas Ligas?

- Quais equipes melhoraram mais ao longo do período em cada uma de suas Ligas?

- Quais jogadores tiveram mais penalidades?

- Quantos jogadores têm em cada um dos intervalos de classificação geral?

- Qual a Distribuição da diferença entre o primeiro e o último gol?

- Quais jogadores tiveram crescimento no número de gols durante o ano?

- Quais atributos de equipe levam a mais vitórias?

- Quais os principais atributos que contribuem para a classificação geral dos jogadores?

# <font color='red' style='font-size: 40px;'> Entendimento da Base de Dados </font>

In [36]:
spark = SparkSession.builder.appName('Soccer').getOrCreate()

## 1) Country

In [37]:
df_country = spark.read.option('header', 'True').csv('../10_analise_exploratoria_spark_futebol/data/Country.csv')
df_country.show()

+-----+-----------+
|   id|       name|
+-----+-----------+
|    1|    Belgium|
| 1729|    England|
| 4769|     France|
| 7809|    Germany|
|10257|      Italy|
|13274|Netherlands|
|15722|     Poland|
|17642|   Portugal|
|19694|   Scotland|
|21518|      Spain|
|24558|Switzerland|
+-----+-----------+

## 2) League

In [38]:
df_league = spark.read.option('header', 'True').csv('../10_analise_exploratoria_spark_futebol/data/League.csv')
df_league.show()

+-----+----------+--------------------+
|   id|country_id|                name|
+-----+----------+--------------------+
|    1|         1|Belgium Jupiler L...|
| 1729|      1729|England Premier L...|
| 4769|      4769|      France Ligue 1|
| 7809|      7809|Germany 1. Bundes...|
|10257|     10257|       Italy Serie A|
|13274|     13274|Netherlands Eredi...|
|15722|     15722|  Poland Ekstraklasa|
|17642|     17642|Portugal Liga ZON...|
|19694|     19694|Scotland Premier ...|
|21518|     21518|     Spain LIGA BBVA|
|24558|     24558|Switzerland Super...|
+-----+----------+--------------------+

## 3) Match

In [39]:
df_match = spark.read.option('header', 'True').csv('../10_analise_exploratoria_spark_futebol/data/Match.csv')
df_match.show()

+---+----------+---------+---------+-----+-------------------+------------+----------------+----------------+--------------+
| id|country_id|league_id|   season|stage|               date|match_api_id|home_team_api_id|away_team_api_id|home_team_goal|
+---+----------+---------+---------+-----+-------------------+------------+----------------+----------------+--------------+
|  1|         1|        1|2008/2009|    1|2008-08-17 00:00:00|      492473|            9987|            9993|             1|
|  2|         1|        1|2008/2009|    1|2008-08-16 00:00:00|      492474|           10000|            9994|             0|
|  3|         1|        1|2008/2009|    1|2008-08-16 00:00:00|      492475|            9984|            8635|             0|
|  4|         1|        1|2008/2009|    1|2008-08-17 00:00:00|      492476|            9991|            9998|             5|
|  5|         1|        1|2008/2009|    1|2008-08-16 00:00:00|      492477|            7947|            9985|             1|
|  6|         1|        1|2008/2009|    1|2008-09-24 00:00:00|      492478|            8203|            8342|             1|
|  7|         1|        1|2008/2009|    1|2008-08-16 00:00:00|      492479|            9999|            8571|             2|
|  8|         1|        1|2008/2009|    1|2008-08-16 00:00:00|      492480|            4049|            9996|             1|
|  9|         1|        1|2008/2009|    1|2008-08-16 00:00:00|      492481|           10001|            9986|             1|
| 10|         1|        1|2008/2009|   10|2008-11-01 00:00:00|      492564|            8342|            8571|             4|
| 11|         1|        1|2008/2009|   10|2008-10-31 00:00:00|      492565|            9985|            9986|             1|
| 12|         1|        1|2008/2009|   10|2008-11-02 00:00:00|      492566|           10000|            9991|             0|
| 13|         1|        1|2008/2009|   10|2008-11-01 00:00:00|      492567|            9994|            9998|             0|
| 14|         1|        1|2008/2009|   10|2008-11-01 00:00:00|      492568|            7947|           10001|             2|
| 15|         1|        1|2008/2009|   10|2008-11-01 00:00:00|      492569|            8203|            9999|             1|
| 16|         1|        1|2008/2009|   10|2008-11-01 00:00:00|      492570|            9996|            9984|             0|
| 17|         1|        1|2008/2009|   10|2008-11-01 00:00:00|      492571|            4049|            9987|             1|
| 18|         1|        1|2008/2009|   10|2008-11-02 00:00:00|      492572|            9993|            8635|             1|
| 19|         1|        1|2008/2009|   11|2008-11-08 00:00:00|      492573|            8635|            9994|             2|
| 20|         1|        1|2008/2009|   11|2008-11-08 00:00:00|      492574|            9998|            9996|             0|
+---+----------+---------+---------+-----+-------------------+------------+----------------+----------------+--------------+
only showing top 20 rows

## 4) Team

In [40]:
df_team = spark.read.option('header', 'True').csv('../10_analise_exploratoria_spark_futebol/data/Team.csv')
df_team.show()

+----+-----------+----------------+--------------------+---------------+
|  id|team_api_id|team_fifa_api_id|      team_long_name|team_short_name|
+----+-----------+----------------+--------------------+---------------+
|   1|       9987|             673|            KRC Genk|            GEN|
|   2|       9993|             675|        Beerschot AC|            BAC|
|   3|      10000|           15005|    SV Zulte-Waregem|            ZUL|
|   4|       9994|            2007|    Sporting Lokeren|            LOK|
|   5|       9984|            1750|   KSV Cercle Brugge|            CEB|
|   6|       8635|             229|      RSC Anderlecht|            AND|
|   7|       9991|             674|            KAA Gent|            GEN|
|   8|       9998|            1747|           RAEC Mons|            MON|
|   9|       7947|            null|       FCV Dender EH|            DEN|
|  10|       9985|             232|   Standard de Liège|            STL|
|  11|       8203|          110724|         KV Mechelen|            MEC|
|  12|       8342|             231|      Club Brugge KV|            CLB|
|  13|       9999|             546|       KSV Roeselare|            ROS|
|  14|       8571|          100081|         KV Kortrijk|            KOR|
|  15|       4049|            null|              Tubize|            TUB|
|  16|       9996|          111560|Royal Excel Mouscron|            MOU|
|  17|      10001|             681|        KVC Westerlo|            WES|
|  18|       9986|             670|  Sporting Charleroi|            CHA|
| 614|       9997|             680|   Sint-Truidense VV|            STT|
|1034|       9989|             239|           Lierse SK|            LIE|
+----+-----------+----------------+--------------------+---------------+
only showing top 20 rows

In [41]:
df_team_attributes = spark.read.option('header', 'True').csv('../10_analise_exploratoria_spark_futebol/data/Team_Attributes.csv')
df_team_attributes.show()

+---+----------------+-----------+-------------------+----------------+---------------------+--------------------+-------------------------+------------------+-----------------------+
| id|team_fifa_api_id|team_api_id|               date|buildUpPlaySpeed|buildUpPlaySpeedClass|buildUpPlayDribbling|buildUpPlayDribblingClass|buildUpPlayPassing|buildUpPlayPassingClass|
+---+----------------+-----------+-------------------+----------------+---------------------+--------------------+-------------------------+------------------+-----------------------+
|  1|             434|       9930|2010-02-22 00:00:00|              60|             Balanced|                null|                   Little|                50|                  Mixed|
|  2|             434|       9930|2014-09-19 00:00:00|              52|             Balanced|                48.0|                   Normal|                56|                  Mixed|
|  3|             434|       9930|2015-09-10 00:00:00|              47|             Balanced|                41.0|                   Normal|                54|                  Mixed|
|  4|              77|       8485|2010-02-22 00:00:00|              70|                 Fast|                null|                   Little|                70|                   Long|
|  5|              77|       8485|2011-02-22 00:00:00|              47|             Balanced|                null|                   Little|                52|                  Mixed|
|  6|              77|       8485|2012-02-22 00:00:00|              58|             Balanced|                null|                   Little|                62|                  Mixed|
|  7|              77|       8485|2013-09-20 00:00:00|              62|             Balanced|                null|                   Little|                45|                  Mixed|
|  8|              77|       8485|2014-09-19 00:00:00|              58|             Balanced|                64.0|                   Normal|                62|                  Mixed|
|  9|              77|       8485|2015-09-10 00:00:00|              59|             Balanced|                64.0|                   Normal|                53|                  Mixed|
| 10|             614|       8576|2010-02-22 00:00:00|              60|             Balanced|                null|                   Little|                40|                  Mixed|
| 11|             614|       8576|2011-02-22 00:00:00|              65|             Balanced|                null|                   Little|                45|                  Mixed|
| 12|             614|       8576|2012-02-22 00:00:00|              59|             Balanced|                null|                   Little|                52|                  Mixed|
| 13|             614|       8576|2013-09-20 00:00:00|              59|             Balanced|                null|                   Little|                52|                  Mixed|
| 14|             614|       8576|2014-09-19 00:00:00|              59|             Balanced|                57.0|                   Normal|                52|                  Mixed|
| 15|             614|       8576|2015-09-10 00:00:00|              59|             Balanced|                57.0|                   Normal|                52|                  Mixed|
| 16|              47|       8564|2010-02-22 00:00:00|              45|             Balanced|                null|                   Little|                30|                  Short|
| 17|              47|       8564|2011-02-22 00:00:00|              65|             Balanced|                null|                   Little|                50|                  Mixed|
| 18|              47|       8564|2012-02-22 00:00:00|              45|             Balanced|                null|                   Little|                50|                  Mixed|
| 19|              47|       8564|2013-09-20 00:00:00|              48|             Balanced|                null|                   Little|                54|                  Mixed|
| 20|              47|       8564|2014-09-19 00:00:00|              48|             Balanced|                70.0|                     Lots|                52|                  Mixed|
+---+----------------+-----------+-------------------+----------------+---------------------+--------------------+-------------------------+------------------+-----------------------+
only showing top 20 rows

## 5) Player

In [42]:
df_player = spark.read.option('header', 'True').csv('../10_analise_exploratoria_spark_futebol/data/Player.csv')
df_player.show()

+---+-------------+--------------------+------------------+-------------------+------+------+
| id|player_api_id|         player_name|player_fifa_api_id|           birthday|height|weight|
+---+-------------+--------------------+------------------+-------------------+------+------+
|  1|       505942|  Aaron Appindangoye|            218353|1992-02-29 00:00:00|182.88|   187|
|  2|       155782|     Aaron Cresswell|            189615|1989-12-15 00:00:00|170.18|   146|
|  3|       162549|         Aaron Doran|            186170|1991-05-13 00:00:00|170.18|   163|
|  4|        30572|       Aaron Galindo|            140161|1982-05-08 00:00:00|182.88|   198|
|  5|        23780|        Aaron Hughes|             17725|1979-11-08 00:00:00|182.88|   154|
|  6|        27316|          Aaron Hunt|            158138|1986-09-04 00:00:00|182.88|   161|
|  7|       564793|          Aaron Kuhl|            221280|1996-01-30 00:00:00|172.72|   146|
|  8|        30895|        Aaron Lennon|            152747|1987-04-16 00:00:00| 165.1|   139|
|  9|       528212|        Aaron Lennox|            206592|1993-02-19 00:00:00| 190.5|   181|
| 10|       101042|       Aaron Meijers|            188621|1987-10-28 00:00:00|175.26|   170|
| 11|        23889|       Aaron Mokoena|             47189|1980-11-25 00:00:00|182.88|   181|
| 12|       231592|          Aaron Mooy|            194958|1990-09-15 00:00:00|175.26|   150|
| 13|       163222|      Aaron Muirhead|            213568|1990-08-30 00:00:00|187.96|   168|
| 14|        40719|        Aaron Niguez|            183853|1989-04-26 00:00:00|170.18|   143|
| 15|        75489|        Aaron Ramsey|            186561|1990-12-26 00:00:00| 177.8|   154|
| 16|       597948|       Aaron Splaine|            226014|1996-10-13 00:00:00|172.72|   163|
| 17|       161644|Aaron Taylor-Sinc...|            213569|1991-04-08 00:00:00|182.88|   176|
| 18|        23499|     Aaron Wilbraham|              2335|1979-10-21 00:00:00| 190.5|   159|
| 19|       120919|   Aatif Chahechouhe|            187939|1986-07-02 00:00:00|175.26|   150|
| 20|        46447|           Abasse Ba|            156626|1976-07-12 00:00:00|187.96|   185|
+---+-------------+--------------------+------------------+-------------------+------+------+
only showing top 20 rows

In [43]:
df_player_attributes = spark.read.option('header', 'True').csv('../10_analise_exploratoria_spark_futebol/data/Player_Attributes.csv')
df_player_attributes.show()

+---+------------------+-------------+-------------------+--------------+---------+--------------+-------------------+-------------------+--------+
| id|player_fifa_api_id|player_api_id|               date|overall_rating|potential|preferred_foot|attacking_work_rate|defensive_work_rate|crossing|
+---+------------------+-------------+-------------------+--------------+---------+--------------+-------------------+-------------------+--------+
|  1|            218353|       505942|2016-02-18 00:00:00|          67.0|     71.0|         right|             medium|             medium|    49.0|
|  2|            218353|       505942|2015-11-19 00:00:00|          67.0|     71.0|         right|             medium|             medium|    49.0|
|  3|            218353|       505942|2015-09-21 00:00:00|          62.0|     66.0|         right|             medium|             medium|    49.0|
|  4|            218353|       505942|2015-03-20 00:00:00|          61.0|     65.0|         right|             medium|             medium|    48.0|
|  5|            218353|       505942|2007-02-22 00:00:00|          61.0|     65.0|         right|             medium|             medium|    48.0|
|  6|            189615|       155782|2016-04-21 00:00:00|          74.0|     76.0|          left|               high|             medium|    80.0|
|  7|            189615|       155782|2016-04-07 00:00:00|          74.0|     76.0|          left|               high|             medium|    80.0|
|  8|            189615|       155782|2016-01-07 00:00:00|          73.0|     75.0|          left|               high|             medium|    79.0|
|  9|            189615|       155782|2015-12-24 00:00:00|          73.0|     75.0|          left|               high|             medium|    79.0|
| 10|            189615|       155782|2015-12-17 00:00:00|          73.0|     75.0|          left|               high|             medium|    79.0|
| 11|            189615|       155782|2015-10-16 00:00:00|          73.0|     77.0|          left|               high|             medium|    79.0|
| 12|            189615|       155782|2015-09-25 00:00:00|          74.0|     78.0|          left|               high|             medium|    79.0|
| 13|            189615|       155782|2015-09-21 00:00:00|          73.0|     77.0|          left|             medium|             medium|    79.0|
| 14|            189615|       155782|2015-01-09 00:00:00|          71.0|     75.0|          left|             medium|             medium|    78.0|
| 15|            189615|       155782|2014-12-05 00:00:00|          71.0|     77.0|          left|             medium|             medium|    78.0|
| 16|            189615|       155782|2014-11-07 00:00:00|          71.0|     77.0|          left|             medium|             medium|    78.0|
| 17|            189615|       155782|2014-09-18 00:00:00|          70.0|     77.0|          left|             medium|             medium|    77.0|
| 18|            189615|       155782|2014-05-02 00:00:00|          70.0|     79.0|          left|             medium|             medium|    77.0|
| 19|            189615|       155782|2014-04-04 00:00:00|          70.0|     79.0|          left|             medium|             medium|    77.0|
| 20|            189615|       155782|2014-03-14 00:00:00|          70.0|     79.0|          left|             medium|             medium|    77.0|
+---+------------------+-------------+-------------------+--------------+---------+--------------+-------------------+-------------------+--------+
only showing top 20 rows